/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
body {
  background: url(../img/bg.jpg) repeat;
  background-size: 180px;
  border-top: 6px solid #ff6945;
}

/* line 7, ../sass/_base.scss */
p {
  color: #ffb637;
  font-family: "proxima_nova_rgbold";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1em;
}

/* line 18, ../sass/_base.scss */
.hide {
  display: none;
}

/* line 1, ../sass/_ui.scss */
#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 50%;
  background: url(../img/logo.png) no-repeat top center;
  height: 300px;
  display: block;
  background-size: 100%;
  margin: 30px auto;
}
@media only screen and (max-width: 768px) {
  /* line 1, ../sass/_ui.scss */
  #logo {
    height: 150px;
  }
}
@media only screen and (max-width: 321px) {
  /* line 1, ../sass/_ui.scss */
  #logo {
    height: 91px;
    margin-bottom: 0px;
  }
}

/* line 20, ../sass/_ui.scss */
.scroll-down {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 10px 10px 10px;
  text-align: center;
  background-color: #565656;
}

/* line 5, ../sass/_layout.scss */
.container {
  width: 100%;
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}
